* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin-top:5rem ;
}
.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: center;
    margin-bottom: 2rem;

}
.search-wrapper label{
    font-size: 1.6rem;
}

.search-wrapper input {
    font-size: 1.5rem;
    width: 30rem;
    padding: 5px;
}

#errorMessage {
  color: red;
  font-size: 2rem;
}